* {
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
	text-align: center;
	color: #233139;
	font-size: 50px;
	font-family: 'Raleway';
	font-weight: bolder;
}

body {
	background: white;
}

thead {
	background: #233139;
}
img {
	position: absolute;
	top: 10px;
}

td {
	color: black;
}

tr:nth-child(even) {
    background: #eee;
}

.container {
	top: 50px;
	position: relative;
}